@use "fonts" as *;

body {
    font-size: 16px;
  
  }
  
  
  nav {
      
      font-family:$font-primary;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      
      .navbar-brand {
          font-size: 1.8rem;
          font-weight: bold;
          color: #000;
          
          
        }
        .nav-link {
          font-size: 1.2rem;
        }
        
        .nav-link:hover {
          color: #0099ff;
        }
  
  }
  
  
  .x {
    color: #0099ff;
    font-size: 2rem;
    text-transform: uppercase;
  }
  
  .x-hero{
    color: #0099ff;
    font-size: 2.6rem;
    text-transform: uppercase;
    font-family: $font-primary;
  }
  
  main {
    min-height: 100vh;
  
  }
  
  .wrapper-1 {
    background-image: url(/assets/images/ba1cc2a9-c4f8-46ec-84a0-d12b3c7619b1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .hero-section {
    height: fit-content;
    max-width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: fadeIn 1.5s ease-in-out;
  
  
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px) scale(0.95);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  h1 {
    font-size: 40px;
    padding: 5px 0px 0px 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: $font-secondary;
  
  
  }
  
  .p-hero {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: $font-secondary;
  }
  

  


  footer {
    min-height: 50px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding: 10px;
    background-color: #343a40;
    color: #f8f9fa;
    font-size: 1rem;
    text-align: center;
    flex-wrap: wrap;
    font-family: $font-primary;
  
    .x-footer {
      color: #0099ff;
      font-size: 1.8rem;
      text-transform: uppercase;
    }
  
    .social-icons {
      display: flex;
      gap: 15px;
    }
  
    .social-icons a {
      font-size: 1.5rem;
      color: #f8f9fa;
      transition: color 0.3s ease;
    }
  
    .social-icons a:hover {
      color: #0099ff;
    }
  
  }
  
   @media (max-width: 768px) {
    .hero-section {
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    
    
    
      h1 {
        font-size: 30px;
      }
    
      p {
        font-size: 1rem;
      }
    
      .button-entrena {
        font-size: 0.9rem;
        padding: 8px 16px;
      }
    }
  
  } 