@use "fonts" as *;
@use "color" as *;


section {
  font-family: $font-secondary;

  h2{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-family: $font-primary; ;
    color: $color-primary;
    font-family: $font-primary;
  }

  h1 {
    color: $color-primary;
    font-family: $font-primary;
    font-size: 35px;
  }

  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section {
  animation: fadeIn 0.5s ease-in-out;
}

.sedes-section {
  h3 {
    color: $color-primary;
    font-family: $font-primary;
    text-decoration: underline;
    text-align: center;
    margin-top: 20px;
  }

  p {
    text-align: center;
    font-family: $font-secondary;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .accordion {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  button {
  
    background-color: $color-primary;
    color: #ffffff;
    font-family: $font-primary;
    font-size: 1rem;
  }
}
