@use "../base/fonts" as *;
@use "../base/color" as *;



.button-entrena {

    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: $color-primary;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: $font-primary;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-decoration: none;
  }
  .entrena {
    text-decoration: none;
    color: #fff;
}
  .button-entrena:hover {
    background-color: #0056b3;
  }